..\..\..\..\..\..\c:\Users\ig343\OneDrive\Documents\VS Code Development\docgen\website
..\..\..\..\..\..\c:\Users\ig343\OneDrive\Documents\VS Code Development\docgen\__products__
..\..\..\..\..\..\c:\Users\ig343\OneDrive\Documents\VS Code Development\docgen\__tests__
